<!DOCTYPE html>
<html>
<head>
  <title>Personal Profile Survey Builder</title>
  
  <!-- Material UI CSS -->
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/@mui/material@latest/dist/mui-material.min.css"
  />
  <!-- Material Icons -->
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />

  <!-- React and Material UI Scripts -->
  <script src="https://unpkg.com/react@latest/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom@latest/umd/react-dom.production.min.js"></script>
  <script src="https://unpkg.com/@mui/material@latest/umd/material-ui.production.min.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

  <style>
    body {
      margin: 0;
      font-family: 'Roboto', sans-serif;
      background-color: #f5f5f5;
      font-family: FF Real Head, Lato, Arial, sans-serif !important;
    }
    .container{
      display: flex;
      justify-content: center;
      padding: 170px 0;
      font-size: 2rem;
    }
    
  </style>
</head>
<body>
  <div class="container">
    <p>Thank you. Your response has been submitted.</p>
  </div>

 
</body>
</html>